/* .MyCalendar h1 {
  fondasdaet-size: 5rem !important;
  color: red !important;
  margin: 50;
  border: 50px solid black;
}
*/
.MyCalendar {
  display: flex;
  color: red;
}
/*
.MyCalendar input,
.MyCalendar button {
  font: inherit;
}

.MyCalendar header {
  padding-top: 50px;
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.MyCalendar header h1 {
  font-size: 2em;
  margin: 0;
}

.MyCalendar__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}

.MyCalendar__container > * > * {
  margin: 10px;
}

.MyCalendar__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
}

.MyCalendar__container__content react-calendar--doubleView {
  margin: 0 auto;
} */
