/* .rbtn {
  color: #000000;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #fff;
  width: 23%;
  cursor: pointer;
}

ul li a {
  color: #000;
}

ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
} */
